@charset "UTF-8";
/* 採用情報 */

/* 採用メッセージ */
.recruit-message{
  text-align: center;
}

.recruit-message h4{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}


/* 募集要項 */
.recruit-info{
  padding-top: 2rem;
}

.recruit-content{
  font-family: "Noto Serif JP", serif;
  max-width: 70%;
  margin: 0 auto;

}

.recruit-list{
  padding-bottom: 3%;
}

.recruit-list h4{
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.recruit-item{
  border-bottom: 1px solid #000;
  font-weight: 500;
  padding-top: 2%;
}

/* 先輩社員の声 */
.employee-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  font-family: "Noto Serif JP", serif;
}

.employee-item {
  width: 32%;
  background-color: #F0F7FC;
}

.employee-img {
  position: relative;
}

.employee-img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: top;
}

.employee-txt {
  padding: 7% 1rem;
  text-align: center;
  margin: 0 auto;
}

.employee-txt p {
  display: inline-block;
  text-align: justify;
  padding-top: 5%;
}